#this is the latest template to assist in copying

image: centralnicregistry/syntaxtester:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - syntax-check
  - git-robot

default:
  before_script: 
   - tests/prep-alpine-env.sh

step-syntax-check:
  stage: syntax-check
  script:
    - export DYNAMIC_ENV_VAR=DEVELOP
    - echo running tests in $DYNAMIC_ENV_VAR
    - tests/testlints.sh
  
merge-master-to-ote:
  stage: git-robot
  only:
    - master
  script:
    - eval $(ssh-agent -s)
    - bash -c "ssh-add <(echo '$GIT_SSH_PRIV_KEY')"
    - ssh-add -L
    - export TMP_DIR=$(mktemp -d -t ./ci-XXXXXXXXXX)
    - cd $TMP_DIR
    - pwd
    - bash -c "set -x; git clone git@git.centralnic.com:${CI_PROJECT_PATH}.git"
    - cd ${CI_PROJECT_NAME}
    - git checkout master
    - git checkout --track origin/ote
    - git merge master
    - git push origin ote

merge-ote-to-dev:
  stage: git-robot
  only:
    - ote
  script:
    - eval $(ssh-agent -s)
    - bash -c "ssh-add <(echo '$GIT_SSH_PRIV_KEY')"
    - ssh-add -L
    - export TMP_DIR=$(mktemp -d -t ./ci-XXXXXXXXXX)
    - cd $TMP_DIR
    - pwd
    - bash -c "set -x; git clone git@git.centralnic.com:${CI_PROJECT_PATH}.git"
    - cd ${CI_PROJECT_NAME}
    - git checkout --track origin/ote
    - git checkout --track origin/dev
    - git merge ote
    - git push origin dev